body {
	width: 80%;
	margin: 0 auto;
}

h1 {
	margin-bottom: 32px;
	text-align: center;
}

div#input-section {
	text-align: center;
}

ul#todos {
	list-style: none;
}

ul#todos li {
	height: 50px;
	line-height: 50px;
	border: solid black 1px;
	margin-bottom: 10px;
	padding-right: 10px;
}
ul#todos li:hover {
	background: #A9A9A9;
}

ul#todos li span {
	text-align: left;
	padding-left: 10px;
}

ul#todos li button {
	float: right;
	margin-top: 11px;
}